<header class="header">
  <div>
    <nav>
      <div class="router-div">
        <a routerLink="/">
          <img src="assets/images/logo.png" alt="KingBurger logo" class="logo" />
        </a>
      </div>
      <div class="router-div">
        <a routerLink="/kitchen" class="router-link">Kitchen</a>
      </div>
      <div class="router-div">
        <a routerLink="/shop" class="router-link">Shop</a>
      </div>
      <div class="router-div">
        <a routerLink="/grill" class="router-link">Grill</a>
      </div>
    </nav>
  </div>
</header>