<div class="kitchen">
  <h1>Kitchen</h1>
  
  <h3>Choose ingredients for the King of Burgers</h3>
  <p>Click to remove chosen ingredient and hold mouse to move order</p>

  <ul *ngIf="ingredients">
    <li *ngFor="let ingredient of ingredients.ingredients" (click)="addIngredient(ingredient)" class="ingredient-list-object">
      {{ ingredient.title }}
    </li>
  </ul>

  <div cdkDropList class="burger-part-list" *ngIf="burgerParts" (cdkDropListDropped)="drop($event)">
    <img class="burger-part-item" *ngFor="let burgerPart of burgerParts" [src]="burgerPart.imageUrl" [alt]="burgerPart.imageUrl" cdkDrag (click)="removeIngredient(burgerPart.runningId)" />
  </div>
</div>