<div class="kitchen">
  <h1>Kitchen</h1>
  
  <p>Get money from the grill and buy ingredients from the shop</p>
  <p>Click to remove chosen ingredient and hold mouse to move order</p>

  <ul *ngIf="userStore.ingredients">
    <li *ngFor="let ingredient of userStore.ingredients" (click)="addIngredient(ingredient)" class="ingredient-list-object">
      {{ ingredient.title }}
    </li>
  </ul>

  <div *ngIf="userStore.ingredients.length === 0" class="no-ingredients">
    <p>No ingredients</p>
  </div>

  <div cdkDropList class="burger-part-list" *ngIf="burgerStore.ingredients" (cdkDropListDropped)="drop($event)">
    <img class="burger-part-item" *ngFor="let burgerPart of burgerStore.ingredients" [src]="burgerPart.imageUrl" [alt]="burgerPart.imageUrl" cdkDrag (click)="removeIngredient(burgerPart.runningId)" />
  </div>
</div>