<div class="kitchen">
  <h1>Kitchen</h1>
  
  <p>Get money from the grill and buy ingredients from the shop</p>
  <p>Click to remove chosen ingredient and hold mouse to move order</p>

  <ul>
    <p>Ingredients:</p>
    <div *ngFor="let ingredient of userStore.ingredients">
      <li *ngIf="ingredient.quantity > 0" (click)="addIngredient(ingredient)" class="ingredient-list-object">
        {{ ingredient.title }} ({{ ingredient.quantity }})
      </li>
    </div>
  </ul>

  <div cdkDropList class="burger-part-list" *ngIf="burgerStore.ingredients" (cdkDropListDropped)="drop($event)">
    <img class="burger-part-item" *ngFor="let burgerPart of burgerStore.ingredients" [src]="burgerPart.imageUrl" [alt]="burgerPart.imageUrl" cdkDrag (click)="removeIngredient(burgerPart.runningId)" />
  </div>

  <div>
    <p class="required-error" *ngIf="requiredError">Name (1-10 char) and ingredient(s) are required</p>
    <input class="save-burger-input" type="text" (change)="updateName($event)" [value]="burgerName" placeholder="Name for burger" />
    <button class="save-burger-btn" (click)="saveBurger()">Save</button>
  </div>

  <div *ngIf="isLoadingResults">
    <p class="loading-results">Loading...</p>
  </div>
</div>